.slick-dotted.slick-slider { /* removendo o bottom da bibiblioteca */
    margin-bottom: 0px;
}

.carousel {
    width: 100%;
    height: 700px;
    margin: 0;  /* Remove a margem */
    padding: 0; /* Remove o padding */
    overflow: hidden; /* Garante que o conteúdo extra seja escondido */
    position: relative; /* Para posicionamento absoluto da legenda */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.slick-slide {
    display: none;
    float: left;
    height: 700px !important; /* usado para dar o tamanho o fundo preto da img */
    min-height: 1px;
}


.carousel-item {
    position: relative; /* Necessário para posicionar o ::before */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white; /* Cor do texto da legenda */
    font-size: 20px; /* Tamanho da fonte da legenda */
    height: 500px; /* Ajuste conforme necessário */
    transition: transform 2.0s; /* Transição para animação */
}

.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Camada de escurecimento com opacidade */
    z-index: 1;
}

.carousel-item h1, 
.carousel-item p {
    position: relative;
    z-index: 2; /* Coloque o texto acima da camada de escurecimento */
}

.carousel-item p{
    padding: 230px;
    margin-top: 15%;
}


.carousel-item img {
    width: 100%;       /* A imagem ocupa toda a largura do contêiner */
    height: 148%;      /* A imagem ocupa toda a altura do contêiner */
    object-fit: cover; /* A imagem cobre o contêiner sem distorcer, mas pode cortar um pouco */
    position: absolute;/* A imagem é posicionada dentro do contêiner de forma absoluta */
    top: 0;            /* A imagem começa do topo do contêiner */
    left: 0;           /* A imagem começa da borda esquerda do contêiner */
}

/* Efeito de hover para os itens do carrossel */
.carousel-item:hover {
    transform: scale(1.03); /* Aumenta ligeiramente o item ao passar o mouse */
}

/* Estilização dos pontos de navegação do carrossel */
.slick-dots {
    position: absolute;
    bottom: 20px; /* Ajuste conforme necessário */
    width: 100%;
    display: flex !important;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    z-index: 2;
}

.slick-dots li {
    margin: 0 5px;
}

.slick-dots li button {
    background-color: white; /* Cor dos pontos */
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 80%;
    cursor: pointer;
    padding: 0;
    outline: none;
}

.slick-dots li.slick-active button:before { 
    opacity: 0.2;
    color: #33333300;
}

.slick-dots li button:before { 
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: rgba(255, 255, 255, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button {
    background-color: #4CAF50; /* Cor dos pontos ativos */
}

.slick-dotted.slick-slider { /* Usado apenas para tirar o buttom que tem entre a img e o form */
    margin-bottom: -20px;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .carousel-item {
        font-size: 14px; /* Reduz o tamanho da fonte em telas menores */
        height: 300px; /* Ajusta a altura para telas menores */
    }
}

@media (max-width: 480px) {
    .carousel-item {
        font-size: 12px; /* Reduz ainda mais o tamanho da fonte em telas muito pequenas */
        height: 250px; /* Ajusta a altura para telas muito pequenas */
    }
}

@media (max-width: 340px) {
    .carousel-item {
        font-size: 12px; /* Reduz ainda mais o tamanho da fonte em telas muito pequenas */
        height: 200px; /* Ajusta a altura para telas muito pequenas */
    }
}