body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #004f00;
    overflow-x: hidden;
}

/* MEXENDO NO WHATS FIXO NO CANTO DA TELA */

.whatsapp-link{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #58c45c;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    z-index: 1000;
    transition: all 0.2s;
}

.whatsapp-link:hover{
    background-color: #3ba13f;
}

.fa-whatsapp{
    margin-top: 16px;
    transition: all 0.2s;
}

/* -------INICIANDO O CSS DO NAVBAR */

header {
    top: 0;
    width: 100%;
    background-color: #ffffff;
    color: #004600;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
}

.container-principal{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    justify-content: space-between  ;
}

.container-principal h1 {
    margin: 0;
    font-size: 2rem;
    color: #014101;
}

.container-principal img{
    height: 90px;
    padding-right: 30px;
}

.container-secundario{
    display: flex;
    margin: auto 0;
    margin-left: 30px;
}

.icon{
    width: 33px;
    height: 33px;
    padding-right: 30px;
    transition: all 0.5s;
}

.icon:hover{
    opacity: 0.7;
    cursor: pointer;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 100;
}

#overlay.show {
    opacity: 1;
    visibility: visible;
}

/* -------INICIANDO O CSS DO HAMBURGUER NA LATERAL ESQUERDA */

nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100%;
    background-color: #ffffff;
    transition: left 0.3s ease;
    z-index: 101;
    overflow-y: auto;
}

nav.show {
    left: 0;
    border-radius: 0px 15px 15px 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    padding-top: 2rem;
}

nav ul li {
    margin: 1rem 0;
}

nav ul li a {
    color: #014917;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.5s;
}

nav ul li a:hover {
    background-color: #014917;
    color: white;
}

.close-menu {
    background: none;
    border: none;
    color: #004600;
    font-size: 1.5rem;
    padding: 1rem;
    cursor: pointer;
    text-align: right;
    width: 100%;
}

.close-menu:hover{
    color: #39a03d;
}

/* -------------INICIANDO O CSS DO CONTEUDO DA PAGINA--------------- */

/* -------INICIANDO O CSS DO (BEM VINDO) */

main {
    height: 1880px; /* só para aumentar para ajustar o form */
}

.container {
    width: 100%;
    margin: 0 auto;
}

.intro {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 50px;
}

.intro h2 {
    color: #ffffff;
    font-size: 50px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.intro p {
    color: #ffffff;
    font-size: 15px;
}

/* -------INICIANDO O CSS DO (FORMULARIO) */

.container-form{
    background-image: url('../Img/imgFundo6atualizacao.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    padding: 25px;  
}

.form {
    width: 40%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 15px;
}

.contatoPrincipal {
    text-align: center;
    font-size: 40px;
    color: #014917;
}

.contatoSecundario {
    text-align: center;
    font-size: 13px;
    padding-bottom: 20px;
    margin-top: -20px;
    color: #00220a;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-dados {
    width: 100%;
    text-align: left;
    padding: 8px;
    position: relative;
    font-size: 12px;
}

.form-dados label {
    display: inline-block;
    margin-bottom: 5px;
    color: #215601;
    font-size: 15px;
}

.form-dados input,
.mensagem-text {
    width: 90%;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 5px;
    font-size: 11px;
    border: 1px #d5d5d5 solid;
    box-shadow: rgb(0 0 0 / 8%) 0px 3px 6px, rgb(0 0 0 / 0%) 0px 3px 6px;
}

.select{
    width: 100%;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 5px;
    font-size: 11px;
    border: 1px #d5d5d5 solid;
    box-shadow: rgb(0 0 0 / 8%) 0px 3px 6px, rgb(0 0 0 / 0%) 0px 3px 6px;
}

.form-dados input:hover {
    border: 1px #858585 solid;
    cursor: pointer;
}

.form-dados a {
    position: absolute;
    bottom: -8px;
    left: 0px;
    visibility: hidden;
    display: contents;
}

/* ----------UTILIZADO PARA DAR FORMA A MENSAGEM DE ERRO QUANDO O CAMPO ESTÁ VAZIO */

.form-dados.error input {
    border-color: red;
}

.form-dados.error a {
    color: red;
    visibility: visible;
    margin-top: 5px;
}

.mensagem {
    width: 100%;
    text-align: left;
    padding: 8px;
    position: relative;
    font-size: 12px;
}

.mensagem-text {
    width: 92%;
    border-radius: 5px;
    font-size: 11px;
    border: 1px #d5d5d5 solid;
}

.button-row {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.botao {
    background-color: #018001;
    color: #ffffff;
    width: 34%;
    border-radius: 14px;
    padding: 10px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.8s;
}

.botao:hover{
    background-color: #003a00;
    color: rgb(255, 255, 255);
}

/* ----------- INICIANDO A CSS (LOCAL E REDES SOCIAIS) */

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    height: 150px;
}

.location h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: white;
    margin-top: 10px;
    display: flex;
    gap: 6px;
}

.social-media h2{
    font-size: 1.5em;
    margin-bottom: 10px;
    color: white;
    margin-top: 10px;
}

.footer-container p {
    margin: 5px 0;
    color: white;
}

.footer-container a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    margin: 5px 0;
    transition: color 0.3s;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.footer-container a:hover {
    color: #a9ffa9;
}

.logoIcon{
    width: 20px;
    height: 20px;
}

.logoLocation{
    width: 20px;
    height: 20px;
}

/* ----------- INICIANDO O CSS DO (FOOTER) RODAPÉ */

footer {
    background-color: #ffffff;
    color: #004600;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}