body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #12712e;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

.whatsapp-link{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #58c45c;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    z-index: 1000;
    transition: all 0.2s;
}

.whatsapp-link:hover{
    background-color: #3ba13f;
}

.fa-whatsapp{
    margin-top: 16px;
    transition: all 0.2s;
}

/* .fa-whatsapp:hover{
    opacity: 0.5;
} */

.container-principal{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    justify-content: space-between  ;
}

.container {
    width: 60%;
    margin: 0 auto;
}

header {
    background-color: #ffffff;
    color: #004600;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header h1 {
    margin: 0;
    font-size: 2rem;
    color: #014101;
}

.container-secundario{
    display: flex;
    margin: auto 0;
    margin-left: 30px;
}

.icon{
    width: 33px;
    height: 33px;
    padding-right: 30px;
    transition: all 0.5s;
}

.icon:hover{
    opacity: 0.5;
    cursor: pointer;
}

.container-principal img{
    height: 90px;
    padding-right: 30px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 100;
}

#overlay.show {
    opacity: 1;
    visibility: visible;
}

nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100%;
    background-color: #ffffff;
    transition: left 0.3s ease;
    z-index: 101;
    overflow-y: auto;
}

nav.show {
    left: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    padding-top: 2rem;
}

nav ul li {
    margin: 1rem 0;
}

nav ul li a {
    color: #156618;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.8s;
}

nav ul li a:hover {
    background-color: #beffc0;
}

.close-menu {
    background: none;
    border: none;
    color: #004600;
    font-size: 1.5rem;
    padding: 1rem;
    cursor: pointer;
    text-align: right;
    width: 100%;
}

.close-menu:hover{
    color: #39a03d;
}

main {
    padding: 2rem 0;
}

.intro {
    text-align: center;
    color: rgb(255, 255, 255);
}

.intro h2 {
    color: #ffffff;
}

.services {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.services h2 {
    color: #004600;
}

footer {
    background-color: #ffffff;
    color: #004600;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
